html,body {
    font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #6c757d;
    text-align: left;
    height: 100%;
}
header{
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
header .navbar-brand {
    letter-spacing: .2em;
    font-weight: 400;
    border-left: 5px solid #fd5f00;
    padding-left: .4em;
}
header .navbar .nav-link {
    font-size: 12px;
    letter-spacing: .2em;
}
#navbarResponsive .nav-item .active {
  font-weight: 300;
}
header .search-form {
    position: relative;
    color: white;
}
header .search-form .icon {
    position: absolute;
    top: 27%;
    font-size: 1.2rem;
}
header .search-form .form-control {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255);
    color: #fff;
}
.navbar{
  background-color: #161616;
}
.navbar-dark .navbar-brand:hover{
    color: #d6370c;
}
.navbar a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
.slideIn {
  	-webkit-animation-name: slideIn;
  	animation-name: slideIn;
}
.form-control {
    box-shadow: none !important;
}
.carousel-item {
    height: 80vh;
    min-height: 50px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%
}
/* Sections Header
--------------------------------*/
.section-header {
    padding: 4em 0;
}
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #fd5f00;
  bottom: 0;
  left: calc(50% - 20px);
}
.section {
    padding-bottom: 7em;
}
.section1 {
    padding: 7em 0;
}
.bg-orange{
  background-color: orange;
}

/*========FeedBack========*/
.form-group textarea.form-control {
  height: 145px;
}
/*========FeedBack End========*/

/*========Footer========*/
.site-footer a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #fd5f00;
}
.site-footer a:hover{
    color: #000;
}
.site-footer h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    color: #6c757d;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
}
small{
    font-size: 16px;
}
.social-icons ul {
    margin-top: 2rem;
    float: right;
}
.social-icons ul > li {
    display: flex;
    margin-top: .5em;
}
.social-icons ul > li > a {
    color: white;
    background-color: #fd5f00;
    border-radius: 100%;
    font-size: 1.2rem;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
}
.social-icons ul > li > a:hover {
    background-color: #000;
}
/*========Footer End========*/